@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Refer to https://tailwindcss.com/docs/customizing-colors#using-css-variables */
  --color-primary: 72, 72, 72;
  --color-secondary: 163, 165, 185;
  --color-alternative: 102, 105, 128;
  --color-alert: 226, 41, 81;
  --inter-yellow: 255, 216, 26;
  --inter-yellow-2: 255, 251, 229;
  --inter-yellow-3: 255, 242, 179;
  --inter-yellow-4: 255, 233, 128;
  --inter-yellow-5: 255, 225, 77;
  --inter-yellow-7: 230, 190, 0;
  --inter-yellow-8: 179, 148, 0;
  --inter-orange: 255, 122, 26;
  --inter-orange-alt: 255,166,13;
  --inter-purple: 183, 135, 245;
  --inter-green: 0, 177, 166;
  --color-disabled: 193, 195, 215;
  --color-white: 255, 255, 255;
  
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
